<div class="row">
    <div class="small-6 medium-3 large-3 columns">
        <input (input)="notifyHost()" [(ngModel)]="_productFilter.text" type="text" placeholder="Pe. Uncharted">
    </div>
    <div class="small-6 medium-3 large-3 columns">
        <select (change)="notifyHost()" [(ngModel)]="_productFilter.category">
            <option *ngFor="let category of _categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
    <div class="small-6 medium-3 large-3 columns">
        <select (change)="sorting()" [(ngModel)]="_productFilter._sorting">
            <option value=""></option>
            <option value="price_desc">Precio: caro a barato</option>
            <option value="price_asc">Precio: barato a caro</option>
            <option value="name_asc">Nombre: A a Z</option>
            <option value="name_desc">Nombre: Z a A</option>
        </select>
    </div>
    <div class="small-6 medium-3 large-3 columns">
        <input type="checkbox" (change)="sorting()" [(ngModel)]="_productFilter.stateSelling"> En venta<br>
    </div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        Precio de <input class="number"  (input)="sorting()" type="number" [(ngModel)]="_productFilter.price_min" value="0"> 
        hasta 
        <input class="number" (input)="sorting()" type="number" [(ngModel)]="_productFilter.price_max" value="0">
    </div>
</div> 
